<h2 class="basket__header">Shopping Bag</h2>
<div class="basket__total">Total: £<span attr="sum"></span></div>
<div class="basket__item">
    <span class="basket__image-container">
        <span class="basket__image"></span>
    </span>
    <span class="basket__item-description">
        Vans Vault 2012 Summer OG Era LX Pack
        <span class="basket__remove-button">[Remove]</span>
    </span>

    <input type="number" class="basket__num-of">
    <span class="basket__item-price">£54.00</span>
</div>
<button class="basket__button button button__small button_orange">CHECKOUT</button>