.basket{
    position: relative;
    width: 100%;
    display: table;
    box-sizing: border-box;
    // height: 400px;
    padding: 70px 30px;
    background-color: #FFF;
    &__header{
        position: absolute;
        left: 30px;
        top: 0;
        font-size: 1.3125rem;
        line-height: 3;
        // font-family: "HelveticaNeue";
        // color: rgb(68, 68, 68);
        font-weight: bold;

    }
    &__total{
        position: absolute;
        left: 30px;
        bottom: 20px;
        font-size: 1.5rem;
        line-height: 1;
        // font-family: "HelveticaNeue";
        // color: rgb(68, 68, 68);
        font-weight: bold;

    }
    &__button{
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
    &__item{
        position: relative;
        display: block;
        box-sizing: border-box;
        height: 95px;
        padding: 35px 0;
        // padding: 0;
        border-bottom: 1px solid $grey;
        vertical-align: middle;
        &:last-of-type{
            border-bottom: none;
        }
        &>*{
            display: inline-block;
            line-height: 95px - 70px;
        }
        & :nth-child(1){
            width: 110px;
        }
        & :nth-child(2){
            width: 65%;
        }
        & :nth-child(3){
            width: 30px;
        }
        & :nth-child(4){
            width: 10%;
            float: right;
        }
    }
    &__item-description{
        font-size: 1rem;
        // font-family: "HelveticaNeue";
        // color: rgb(68, 68, 68);
        font-weight: bold;
    }
    &__remove-button{
        margin-left: 10px;
        font-size: 0.8rem;
        font-weight: normal;
        cursor: pointer;
        color: $button-blue;
    }
    &__item-price{
        font-size: 1.3125rem;
        // font-family: "HelveticaNeue";
        // color: rgb(68, 68, 68);
        font-weight: bold;
    }
    &__image{
        position: absolute;
        width: 100px;
        height: 60px;
        left: 0;
        top: 17.5px;
    }
}