.footer{
    box-sizing: border-box;
    height: $footer-height;
    padding: $footer-height / 4 0;
    font-size: 0;
    background-color: #FFF;
    &__item{
        display: inline-block;
        font-size: 1rem;
        height: 100%;
    }
    &__link{
        @include base-text;
        display: block;
        height: 100%;
        line-height: $footer-height / 2;
        text-decoration: none;
        text-align:center;
        margin-right: 40px;
    }
    &__social{
        float: right;
        display: inline-block;
        line-height: $footer-height / 2;
        margin-right: 40px;
    }
}