.grid{
    &__wrapper{
        width: $base-wrapper-with / $base-page-with * 100%;
        margin: 70px / $base-page-with * 100% auto;
        &>*{
            background-color: red;
            height: 100px;
            margin: 40px / $base-page-with * 100% 0;
        }
        & :first-child{
            margin-top: 0;
        }
        & :last-child{
            margin-bottom: 0;
        }
    }
    &__row{
        font-size: 0;
    }
    &__col{
        display: inline-block;
        box-sizing: border-box;
        &_4{
            &:nth-child(2n){
                margin: 0 40px / $base-wrapper-with * 100%;;//0 40px / $base-page-with * 100%;
            }
            width: 360px / $base-wrapper-with * 100%; 
        }
        &_8{
            width:  8 / 12 * 100%;
        }
        &_12{
            width: 100%; 
        }
    }
}
