.product{
    box-sizing: border-box;
    // width: 360px;
    height: 400px;
    background-color: transparent;
    &__image{
        position: relative;
        height: 240px;
        background-image: url("../pictures/product-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    &__logo{
        position: absolute;
        right: 10px;
        bottom: -10px;
    }
    &__about{
        position: relative;
        box-sizing: border-box;
        height: 160px;
        padding: 20px 30px;
        line-height: 1;
        @include clearfix;
    }
    &__header{
        margin: 0;
        font-size: 1.3125rem;
        font-family: "HelveticaNeue";
        font-weight: bold;
    }
    &__color{
        margin-top: 12px;
        font-size: 0.875rem;
    }
    &__size{
        margin-top: 12px;
        font-size: 0.75rem;
        font-weight: bold;
    }
    &__size-changer{
        margin-left: 5px;
        font-size: 0.6875rem;
        color: $button-blue;
        cursor: pointer;
    }
    &__price{
        position: absolute;
        left: 30px;
        bottom: 20px;
        line-height: 1.5;
        margin-top: 1rem;
        font-size: 1.75rem;
        font-family: "HelveticaNeue";
        font-weight: bold;
    }
    &__button{
        // float: right;
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}
